<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Hotel Booking Server</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
<link rel="stylesheet" href="css/style2.css" media="all" type="text/css"></link>
<link href='http://fonts.googleapis.com/css?family=Audiowide' rel='newest stylesheet' type='text/css'></link>
<script type="text/javascript" language="javascript" src="js/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"></link>
</head>
<body>
<div class="wrap">
<div class="main">
<div>
<div class="container">
<div class="panel panel-default">
  <div class="panel-heading"><h2><b>Hotels List</b></h2></div>  
  <div class="panel-body">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th><b>Id</b></th>
				<th><b>Hotel Name</b></th>
				<th><b>Rooms</b></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="hotel : ${hotels}">
				<td th:text="${hotel.idres}"></td>
				<td th:text="${hotel.name}"></td>
				<td th:text="${hotel.room}"></td>
			</tr>
		</tbody>
	</table>
	</div>
	</div>
	</div>
	</div>
	<div class="clear"></div>
	<div class="content">
	<div class="clear"></div>
	</div>
	</div>
</div>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>